input,label {
    display: block;
}

label {
    font-size: 22px;
    margin-bottom: .2rem;
}

input{
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: .5rem;
    font-size: 18px;
    width: 100%;
}

input:active,
input:focus {
    border: 2px solid #E16E3F;
}

.form-group {  
    display: -ms-grid;  
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 2rem;
}

.contact-inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:575px) {
    .form-group {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;
    }

    input {
        font-size: 16px;
    }
}