.team-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.team-wrapper .team {
    width: 26%;
    position: relative;
    height: 100%;
    height: 300px;
}

.team-wrapper .team::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20px;
    right: -20px;
    background: rgba(242, 102, 46, .6);
    z-index: -1;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
}

.team-wrapper .team:hover::after {
    background: rgba(242, 102, 46, 1);
} 

.team-wrapper .team p {
    color: #fff !important;
}

.team-wrapper .team .team-img {
    height: 100%;
}

.team-wrapper .team .team-img img {
    height: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.team-wrapper .team a img {
    max-width: 20px;
}

.team-wrapper .team:nth-child(4) {
    margin-top: 3rem;
}

.team-wrapper .team:last-child {
    margin-top: 3rem;
}

.team-wrapper .team-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    -o-transition: opacity .3s ease, -o-transform .3s ease;
    -moz-transition: opacity .3s ease, transform .3s ease, -moz-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

.team-wrapper .team:hover .team-text {
    opacity: 0;
    -webkit-transform: translateY(20px);
       -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
         -o-transform: translateY(20px);
            transform: translateY(20px);
}

.team-wrapper .team-bio {
    -webkit-transform: translateY(-50%) translateX(20px);
       -moz-transform: translateY(-50%) translateX(20px);
        -ms-transform: translateY(-50%) translateX(20px);
         -o-transform: translateY(-50%) translateX(20px);
            transform: translateY(-50%) translateX(20px);
    position: absolute;
    top: 50%;
    right: 10px;
    text-align: center;
    opacity: 0;
    left: 10px;
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    -o-transition: opacity .3s ease, -o-transform .3s ease;
    -moz-transition: opacity .3s ease, transform .3s ease, -moz-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

.team-wrapper .team:hover .team-bio {
    -webkit-transform: translateY(-50%) translateX(0px);
       -moz-transform: translateY(-50%) translateX(0px);
        -ms-transform: translateY(-50%) translateX(0px);
         -o-transform: translateY(-50%) translateX(0px);
            transform: translateY(-50%) translateX(0px);
    opacity: 1;
}

.team-wrapper .linkdin {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(10px);
       -moz-transform: translateX(-50%) translateY(10px);
        -ms-transform: translateX(-50%) translateY(10px);
         -o-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px);
    opacity: 0;
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    -o-transition: opacity .3s ease, -o-transform .3s ease;
    -moz-transition: opacity .3s ease, transform .3s ease, -moz-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;

}

.team-wrapper .team:hover .linkdin {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0px);
       -moz-transform: translateX(-50%) translateY(0px);
        -ms-transform: translateX(-50%) translateY(0px);
         -o-transform: translateX(-50%) translateY(0px);
            transform: translateX(-50%) translateY(0px);
}

.team-wrapper .team::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    opacity: 0;
    background: rgb(0, 0, 0, 0.6);
    -webkit-transition: opacity .3s ease, width .3s ease;
    -o-transition: opacity .3s ease, width .3s ease;
    -moz-transition: opacity .3s ease, width .3s ease;
    transition: opacity .3s ease, width .3s ease;

}

.team-wrapper .team:hover::before {
    width: 100%;
    opacity: 1;
}


@media only screen and (max-width: 950px) {
    .team-wrapper {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .team-wrapper .team {
        width: 45%;
    }

    .team-wrapper .team:nth-child(3),
    .team-wrapper .team:nth-child(4),
    .team-wrapper .team:nth-child(5) {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .team-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .team-wrapper .team {
        width: 100%;
    }

.team-wrapper .team::after {
    bottom: -10px;
    right: -10px;
}

    .team-wrapper .team:nth-child(3),
    .team-wrapper .team:nth-child(4),
    .team-wrapper .team:nth-child(5) {
        margin-top: 0rem;
    }
}