h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

.h2-s {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
}

p {
    font-weight: 500;
    color: #444;
}

.c-g {
    color: #444;
}

.s-xl {
    font-size: 25px;
}

.s-l {
    font-size: 22px;
}

.s-r {
    font-size: 18px;
}

.s-s {
    font-size: 14px;
}

.bold {
    font-weight: 700;
}

.c-b {
    color: #07B5DF;
}

.c-o {
    color: #E16E3F;
}

.c-bl {
    color: #000;
}

.light {
    font-weight: 400;
}

.w-r {
    font-weight: 500;
}

.extra-light {
    font-weight: 300;
}

.line {
    width: 200px;
    background: #07B5DF;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 3px;
    max-width: 100%;
}

.line-s {
    width: 130px;
}


.my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.bg-o {
    background: #E16E3F;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    padding: .8rem 1rem;
    letter-spacing: 4px;
    border: none;
    background: rgba(242, 102, 46, 0.9);
    cursor: pointer;
}

.btn:hover {
    background: rgba(242, 102, 46, 1);
}

nav a {
    line-height: 0px;
}

video::-webkit-media-controls {
    display: none;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

nav img,
.logo {
    max-width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

nav img:hover {
    opacity: .8;
}

.sticky-btn {
    position: fixed;
    bottom: 10px;
    z-index: 10000;
    right: 10px;
}

nav.desktop {
    background: #fff;
    padding: 1rem 6rem;
    border-bottom: 1px solid #C4C4C4;
}

nav.desktop#hidden {
    opacity: 0;
}

nav.desktop#visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

nav.desktop .nav-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav.desktop .nav-inner .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav.desktop .nav-inner .links p {
    margin-right: 3rem;
    position: relative;
}

nav.desktop .nav-inner .links p:last-child {
    margin-right: 0;
}

nav.desktop .nav-inner .links p:hover {
    color: #E16E3F;
}

nav.desktop .links p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -32px;
    width: 0px;
    height: 3px;
    background: #07B5DF;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}

nav.desktop .links p:hover::after {
    width: 100%
}



nav.mobile {
    display: none;
}

nav.mobile .nav-inner {
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav.mobile .nav-inner .hamburger {
    max-width: 20px;
    cursor: pointer;
}


nav.mobile#hidden {
    opacity: 0;
}


nav.mobile#visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}

nav.mobile .nav-wrapper {
    position: relative;
    padding: 1rem 1.5rem;
}

nav.mobile .nav-wrapper .links {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    position: absolute;
    width: 50%;
    left: 50%;
    padding: .8rem 1.5rem;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    -o-transition: opacity .2s ease, -o-transform .2s ease;
    -moz-transition: transform .2s ease, opacity .2s ease, -moz-transform .2s ease;
    transition: transform .2s ease, opacity .2s ease;
    transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease, -moz-transform .2s ease, -o-transform .2s ease;
    height: 100vh;
}


nav.mobile .nav-wrapper .links p:first-child {
    margin-top: 2rem;
}

nav.mobile .nav-wrapper .links p {
    margin-bottom: 2rem;
}


nav.mobile.active .nav-wrapper .links {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.mt-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt-05 {
    margin-top: .5rem;
}


.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.t-c {
    text-align: center;
}

section {
    padding: 4rem 1.5rem;
}

.m-a {
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 3rem 1.5rem;
    background: #F6F6F6;
    margin-top: -2px;
}

footer .footer-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer .footer-inner>div:last-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

footer .footer-inner>div:last-child img {
    max-width: 40px;
}

footer .footer-inner>div:last-child p:hover {
    color: #E16E3F;
}

.footer-angle {
    background: #F6F6F6;
    height: 100px;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 100%;
}

header {
    height: 86vh;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #F6F6F6;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    position: relative;
}

header .container {
    width: 100%;
}

header .header-inner {
    position: relative;
    z-index: 1000;
    display: inline-block;
    max-width: 800px;
}

#particlesHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stickyBtn {
    background: #E16E3F;
    color: #fff;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    padding: 0 1.5rem;
    cursor: pointer;
    border: #E16E3F 2px solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: color .3s ease, background .3s ease;
    -o-transition: color .3s ease, background .3s ease;
    -moz-transition: color .3s ease, background .3s ease;
    transition: color .3s ease, background .3s ease;
}

.stickyBtn .text {
    display: none;
}

.stickyBtn img {
    max-width: 10px;
}

.stickyBtn.active .text {
    display: block;
}

.stickyBtn.active img {
    display: none;
}

.stickyBtn.active:hover {
    background: #fff;
    color: #E16E3F;
}

.mxw-800 {
    max-width: 800px;
}

.profile {
    max-width: 40px;
}

footer {
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (max-width: 1740px) {
    footer {
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .h2-s {
        font-size: 25px;
    }

    h3 {
        font-size: 24px;
    }


    .s-xl {
        font-size: 20px;
    }

    .s-l {
        font-size: 18px;
    }

    .s-r {
        font-size: 16px;
    }
}


@media only screen and (max-width: 860px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }
}

@media only screen and (max-width: 730px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .footer-angle {
        height: 60px;
    }

    header {
        padding: 4rem 1.5rem 6rem 1.5rem;
    }

    section {
        padding: 3rem 1.5rem;
    }

    .line {
        width: 100px;
    }

    .line-s {
        width: 80px;
    }
}


@media only screen and (max-width: 650px) {
    header {
        height: 70vh;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    .h2-s {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }


    .s-xl {
        font-size: 18px;
    }

    .s-l {
        font-size: 16px;
    }

    .s-r {
        font-size: 14px;
    }

    nav img,
    .logo {
        max-width: 65px;
    }

    footer .footer-inner>div:last-child img {
        max-width: 30px;
    }

    body {
        font-size: 14px;
    }


    .btn {
        padding: .5rem .7rem;
    }

    .stickyBtn {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 430px) {
    footer .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer .footer-inner>div:first-child {
        margin-bottom: 1rem;
    }
}

.body-inner {
    overflow-x: hidden !important;
}