---
title: About
keywords: Jambox, Games, Jambox games, about
description: A team of gaming and ad tech enthusiast</span> have come together to build the next generation competitive game publishing platform
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.njk' %}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/aos.css">
</head>

<body>

    <div class="body-inner">
       {% include 'partials/stickybtn.njk' %}
       {% include 'partials/nav.njk' %}
        <header>
            <div class="container">
                <div class="header-inner">
                    <h1 data-aos="fade-right">Who <span class="c-b">We</span> <span class="c-o">Are</span></h1>
                    <p data-aos="fade-up" data-aos-delay="100" class="s-xl mt-2"><span class="c-o">A team of gaming and ad tech enthusiast</span> have come together to build <span class="c-b">the next generation competitive game publishing platform</span>
                    </p>
                </div>
            </div>
            <div id="particlesHeader">

            </div>
        </header>

        <section class="t-c">
            <div class="container">
                <div class="mxw-800 m-a">
                    <h2 class="h2-s c-">Our Vision</h2>
                    <div class="line m-a"></div>
                    <p class="s-xl">Jambox is a data driven platform for game developers to aquire, retain, engage, reward and monetize users. Well designed games with awesome user experience powered by data science and deep capabilities in user engagement, marketing,
                        acqusition and monetization are the secret sauce behind chart-topping games. It's simple as that!
                    </p>
                </div>
            </div>
        </section>

        <section class="investor t-c">
            <div class="container">
                <h2 class="t-c h2-s c-g">Investors</h2>
                <div class="line bg-o m-a"></div>
                <div class="ia-wrapper mt-2">
                    <div>
                        <a href="link.com">
                            <div data-aos="fade-up" class="ia-card">
                                <div class="ia-img m-a">
                                    <img src="/img/investor.jpeg" alt="investor">
                                </div>
                                <div>
                                    <p class="s-xl">Investor Name
                                    </p>
                                    <div class="line my-05 line-s bg-o m-a"></div>
                                </div>
                                <p class="light">Country</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="link.com">
                            <div data-aos="fade-up" class="ia-card">
                                <div class="ia-img m-a">
                                    <img src="/img/investor.jpeg" alt="investor">
                                </div>
                                <div>
                                    <p class="s-xl">Investor Name
                                    </p>
                                    <div class="line my-05 line-s bg-o m-a"></div>
                                </div>
                                <p class="light">Country</p>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="link.com">
                            <div data-aos="fade-up" class="ia-card">
                                <div class="ia-img m-a">
                                    <img src="/img/investor.jpeg" alt="investor">
                                </div>
                                <div>
                                    <p class="s-xl">Investor Name
                                    </p>
                                    <div class="line my-05 line-s bg-o m-a"></div>
                                </div>
                                <p class="light">Country</p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="advisor t-c">
            <div class="container">
                <h2 class="t-c h2-s c-g">Advisors</h2>
                <div class="line my-05 m-a"></div>
                <div class="ia-wrapper mt-2">
                    <div>
                        <a target="_blank" href="https://www.linkedin.com/in/chesternwj/">
                            <div data-aos="fade-up" class="ia-card">
                                <div class="ia-img m-a">
                                    <img src="/img/advisor1.jpg" alt="advisor">
                                </div>

                                <div>
                                    <p class="s-xl"> Chester Ng
                                    </p>
                                    <div class="line my-05 m-a line-s"></div>
                                </div>

                                <div>

                                    <p class="s-r">Unity</p>
                                    <p class="mt-05 light">Singapore</<p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.linkedin.com/in/aaronchanjl/">
                            <div data-aos="fade-up" class="ia-card">
                                <div class="ia-img m-a">
                                    <img src="/img/advisor2.jpg" alt="advisor">
                                </div>

                                <div>

                                    <p class="s-xl">Aaron Chan</p>
                                    <div class="line my-05 m-a line-s"></div>
                                </div>
                                <div>
                                    <p class="s-r">Appier
                                    </p>
                                    <p class="mt-05 light">Singapore</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="my-2"></div>

        <div class="footer-angle"></div>
        <footer>
            <div class="container">
                <div class="footer-inner">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/img/logo.svg" alt="Jambox Games">
                        </a>
                    </div>
                    <div>
                        <div class="s-r">
                            <a href="#">
                                <img src="/img/fb.png" alt="facebook">
                            </a>
                            <a href="about.html" class="mt-05">
                                <p>About</p>
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="#">
                                <img src="/img/insta.png" alt="Instagram">
                            </a>
                            <a href="blog.html" class="mt-05">
                                <p>Blog</p>
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="#">
                                <img src="/img/twitter.png" alt="twitter">
                            </a>
                            <a href="team.html" class="mt-05">
                                <p>Team</p>
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="#">
                                <img src="/img/ln.png" alt="Linkedin">
                            </a>
                            <a href="games.html" class="mt-05">
                                <p>Games</p>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="copyright t-c s-s c-g light mt-2">© Jambox Games 2021</p>
            </div>
        </footer>
    </div>

    <script>
        let isAtTop = true;

        const btn = document.querySelector('.stickyBtn');
        window.addEventListener('load', () => {
            btn.classList.remove('active');
            btn.style.height = btn.offsetWidth + 'px';
            btn.style.opacity = 1;
        })

        btn.addEventListener('mouseenter', () => {
            btn.classList.add('active');
        })

        window.addEventListener("scroll", (event) => {
            let scroll = this.scrollY;
            if (scroll > 0) {
                btn.classList.add('active');
                isAtTop = false;
            } else {
                btn.classList.remove('active');

                isAtTop = true;
            }
        });

        btn.addEventListener('mouseleave', () => {
            if (isAtTop = true) {
                btn.classList.remove('active');
            }
        })
        window.addEventListener('load', () => {
            let tag3 = document.createElement("script");
            tag3.src = "/js/about.js";
            document.getElementsByTagName("head")[0].appendChild(tag3);
        })
    </script>

</body>

</html>