---
title: About
keywords: Jambox, Games, Jambox games, about
description: A team of gaming and ad tech enthusiast</span> have come together to build the next generation competitive game publishing platform
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <!-- About CSS -->
    <link rel="stylesheet" href="/resources/css/about.css" />
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
        <!-- About Hero Section HTML Start -->
        <section id="About-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="about-hero-content">
                  <h1 style="font-size: 4rem;"class="text-white"> B2B platform for game developers to grow, engage, retain and monetize their games</h1>
                  <p class="text-white">
                   
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-hero-img">
                  <img
                    src="/resources/images/about-hero.png"
                    alt="hero-img"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- About Hero Section HTML End -->
      </div>
    </header>

    <!-- Header Section HTML End -->

    <!-- About Section HTML Start -->

   <section id="About">
      <div class="container">
        <div class="about-wrapper">

          <h1>Who We Are</h1>
          <br>
          <p class="text-dark">
            Jambox Games provides technology infrastructure and growth kit for game developers to turn their games into hits. We enable social and competitive multiplayer experiences in games that users love to play again and again. Learn more about our <a href="games.html"> Arena and Rewards Platform.</a>  

            <br>
            <br>

            A team of gaming and adtech enthusiasts have come together to build the next generation competitive game publishing platform.

            <br>
            <br>

            Find out more about our <a href="games.html"> games here.</a>  
          </p>
          <img src="/resources/images/about-content-bg.png" alt="" />
        </div>
      </div>
    </section>

    <!-- About Section HTML End -->

    <!-- Investor Section HTML Start -->

    <section id="Investor">
      <div class="container">
        <a href="https://www.ludus.vc/" target="_blank">
        <div class="investor-wrapper">
          <h2>Our Investor</h2>
          <img
            src="/resources/images/Investors.png"
            alt="Investors"
            loading="lazy"
          />
          <h4>Ludus Venture Studio</h4>
          <div class="investor-location">
            <i class="bi bi-geo-alt-fill"></i>
            <p>Turkey</p>
          </div>
        </div>
      </a>
      </div>
      <div class="investor-bg1">
        <img src="/resources/images/investor-bg1.png" alt="investor-bg1" />
      </div>
      <div class="investor-bg2">
        <img src="/resources/images/investor-bg2.png" alt="investor-bg2" />
      </div>
    </section>

    <!-- Investor Section HTML End -->

    <!-- Advisor Section HTML Start -->

    <section id="Advisor">
      <div class="advisor-wrapper">
        <h2>Advisors</h2>
        <div class="container">
          <div class="row justify-content-around align-content-center">
            <div class="col-md-6">
              <div class="advisor-card">
                <img
                  src="/resources/images/ChesterNg.png"
                  alt="ChesterNg"
                  loading="lazy"
                />
                <div class="advisor-info">
                  <div class="advisor-info-img">
                    <img
                      src="/resources/images/advisor1.png"
                      alt="advisor1"
                      loading="lazy"
                    />
                  </div>
                  <div class="advisor-info-content">
                    <h3>Chester Ng</h3>
                    <div class="advisor-loc">
                      <i class="bi bi-geo-alt-fill"></i>
                      <p>Singapore</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="advisor-card">
                <img
                  src="/resources/images/AaronChan.png"
                  alt="AaronChan"
                  loading="lazy"
                />
                <div class="advisor-info">
                  <div class="advisor-info-img">
                    <img
                      src="/resources/images/advisor2.png"
                      alt="advisor2"
                      loading="lazy"
                    />
                  </div>
                  <div class="advisor-info-content">
                    <h3>Aaron Chan</h3>
                    <div class="advisor-loc">
                      <i class="bi bi-geo-alt-fill"></i>
                      <p>Singapore</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Advisor Section HTML End -->

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
