---
permalink: "arena-publishing-offer.html"
title: Arena Publishing Offer
og_image: logo.png
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}

    <!-- About CSS -->
    <link rel="stylesheet" href="/resources/css/terms.css" />
    
  </head>
  <body>

    <header class="header">
        <div class="header-wrapper">
          {% include 'partials/nav.njk' %}

  
        </div>
      </header>



      <section id="privacy-policy" style="text-align:center">
          <h1 class="privacy-policy-text">Arena Publishing Offer</h1>
          <img src="/resources/images/arena-offer.png" style="width:40%;padding-top:20px" alt="arena offer" />
          <div class="paragraph" style="text-align:left">
          
<p>- All games must be reviewed by Jambox publishing department to proceed regarding game genre, mechanics and feasibility of working with our multiplayer platform.</p>
<p>- Minimum daily active user is 100,000</p>
<p>- Day 1 retention is more than 35%</p>
<p>- Avg Daily playtime should be 10+ minutes</p>
<p>- Must be developed on Unity</p>
<p>- Games must be live on developers' Google Play or App Store accounts</p>
<p>- All games must include Jambox Arena SDK in their new versions</p>
<p>- Jambox Games will have the final discretion on which games are selected for offer. </p>
<p>- Jambox reserves all rights to the offer and may discontinue this promo anytime without reason</p>
             
        </div>
        <div class="arena-btn">
                    <a href="/form">Get Started</a>
                  </div>
          
      </section>



    {% include 'partials/footer.njk' %}



    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>


    </body>
    </html>
