---
title: Blog
keywords: Jambox, Games, Jambox games, blog
description: Turn your games into global hits
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}

    <!-- Blog CSS -->
    <link rel="stylesheet" href="/resources/css/blog.css" />
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}

        <!-- Blog Hero Section HTML Start -->

        <section id="Blog-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="blog-hero-content">
                  <h1 class="text-white">Recent Press & Articles</h1>
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-hero-img">
                  <img
                    src="/resources/images/blog-hero.png"
                    alt="hero-img"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Blog Hero Section HTML End -->
      </div>
    </header>

    <!-- Header Section HTML End -->

    <!-- Blog Section HTML Start -->

    <section id="Blog">
      {% include 'partials/blog-list.njk' %}
    </section>


    <!-- Blog Section HTML End -->

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
