---
title: Blog
keywords: Jambox, Games, Jambox games, blog
description: Turn your games into global hits
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header.njk' %}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="body-inner">
       {% include 'partials/stickybtn.njk' %}
        {% include 'partials/nav.njk' %}
        <div class="small-header">
            <div class="container">
                <div class="header-inner">
                    <h1 data-aos="fade-right"><span class="c-b">Jambox</span> <span class="c-o">Blog</span></h1>
                    </p>
                </div>
            </div>
            <div id="particlesHeader">

            </div>
        </div>
        
        <section>
            <div class="blog-container">
                <div class="blog-list-heading">Featured Post</div>
                {% set featuredPost = collections.featuredPosts[0] %}
                 <a href="{{ featuredPost.url | url }}" > 
                    <div class="blog-post-hero">
                        <div class="blog-text">
                            <h3 class="blog-title-small"> {{featuredPost.data.title}} </h3>
                            <span class="blog-post-date">{{featuredPost.data.date |  htmlDateString   }}</span> 
                            <p class="mt-1 light">
                                    {{ featuredPost.data.blurb }} 
                            </p>
                        </div>
                        <div class="blog-img">
                            <img src="/img/{{featuredPost.data.cover}}" >
                        </div>
                    </div>
                </a>
                <div class="blog-list-heading">All Post</div>
                <div class="blog-grid">
                            
                            {%- for post in collections.post | reverse -%}
                            
                            <div class="blog-post">
                            <a href="{{ post.url | url }}" > 
                                <div class="glide__slide blog-post glide__slide--clone" >
                                    <div class="blog">
                                        <div class="blog-img">
                                            <img src="/img/{{post.data.cover}}" >
                                        </div>
                                        <div class="blog-text">
                                            <h3 class="blog-title-small"> {{ post.data.title }} </h3>
                                            <span class="blog-post-date">{{post.data.date |  htmlDateString   }}</span> 
                                            <p class="mt-1 light">
                                                 {{ post.data.blurb }} 
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                            </a>
                            </div>
                            {%- endfor -%}
   
                </div>
            </div>
        </section>

{% include 'partials/footer.njk' %}
    <script>
        let isAtTop = true;

        const btn = document.querySelector('.stickyBtn');
        window.addEventListener('load', () => {
            btn.classList.remove('active');
            btn.style.height = btn.offsetWidth + 'px';
            btn.style.opacity = 1;
        });

        btn.addEventListener('mouseenter', () => {
            btn.classList.add('active');
        });

        window.addEventListener("scroll", (event) => {
            let scroll = this.scrollY;
            if (scroll > 0) {
                btn.classList.add('active');
                isAtTop = false;
            } else {
                btn.classList.remove('active');
                isAtTop = true;
            };
        });

        btn.addEventListener('mouseleave', () => {
            if (isAtTop = true) {
                btn.classList.remove('active');
            };
        });
        window.addEventListener('load', () => {
            let tag3 = document.createElement("script");
            tag3.src = "/js/games.js";
            document.getElementsByTagName("head")[0].appendChild(tag3);
        })
    </script>
</body>

</html>