---
title: Careers
keywords: Jambox, Games, Jambox games, Careers
description: Jobs at Jambox Games. Turn your games into global hits
og_image: og-career.jpg
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <!-- Career CSS -->
    <link rel="stylesheet" href="/resources/css/career.css" />
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
        <!-- Navigation Section End -->
        <!-- Career Hero Section HTML Start -->
        <section id="Career-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="career-hero-content">
                  <h1 class="text-white">We Are Hiring Rockstars</h1>
                  <p class="text-white">
                    Join The Fastest Growing Gaming Platform In Asia
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="career-hero-img">
                  <img
                    src="/resources/images/career-hero.png"
                    alt="hero-img"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Career Hero Section HTML End -->
      </div>
    </header>

    <!-- Header Section HTML End -->

    <!-- Career Open Section Start -->

    <section id="Career-open">
      <div class="container">
        <div class="career-title">
          <h2>Open</h2>
        </div>
        <div class="career-grid">
          {%- for post in collections.jobs | reverse -%} 
            {% if "open" in post.data.status %}
              <a href="{{ post.url | url }}">
                <div class="career-open-box">
                  <span class="span-blue"></span>
                  <h5>Team: {{ post.data.team }}</h5>
                  <h3>{{ post.data.title }}</h3>
                  <div class="career-location">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>{{ post.data.location }}</p>
                  </div>
                </div>
              </a>
            {% endif %}
          {%- endfor -%}
        </div>
      <div>
    </section>

    <!-- Career Open Section End -->

    <!-- Career Closed Section Start -->

    <section id="Career-closed">
      <div class="container">
        <div class="career-title">
          <h2>Closed</h2>
        </div>
        <div class="career-grid">
          {%- for post in collections.jobs | reverse -%} 
            {% if "closed" in post.data.status %}
              <a href="{{ post.url | url }}">
                <div class="career-open-box">
                  <span class="span-orange"></span>
                  <h5>Team: {{ post.data.team }}</h5>
                  <h3>{{ post.data.title }}</h3>
                  <div class="career-location">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>{{ post.data.location }}</p>
                  </div>
                </div>
              </a>
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
    </section>

    <!-- Career Closed Section End -->

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
