---
title: Jambox Games - Next Gen Competitive Game Publishing Platform
keywords: Jambox, Games, Jambox games, home
description: Power-up your mobile games
og_image: og-home.jpg
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="resources/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="resources/css/owl.theme.default.min.css" />
    <!-- Home CSS -->
    <link rel="stylesheet" href="resources/css/home.css" />
  </head>
  <body>
    <!-- Header Section HTML Start -->
  <!-- Header Section HTML Start -->

    <header class="header" >
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
        <!-- Home Hero Section HTML Start -->

        <section id="Home-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="home-hero-content">
                  <h1 class="text-white">
                    
                  </h1>
                  <p class="text-white subheadrtextwithbr">
                    
                  </p>
                  <div class="home-button">
                    <a class="home-btn1" href="/form" id="playVidOnly">Book Meeting </a>
                    <a class="home-btn2" href="javascript:void(0)" id="video1">Watch Demo </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="home-hero-img">
                  <img
                    src="resources/images/home-banner-01.gif"
                    alt="home-banner"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <div id="vidBox">
          <div id="videCont">
      <video id="v1" loop controls>
              <source src="/resources/images/Jambox Marketing_Arena Sizzle Final.mp4" type="video/mp4">
          </video>
           </div>
          </div>
        <!-- Home Hero Section HTML End -->
      </div>
    </header>


    <!-- Header Section HTML End -->

    <!-- Home Section HTML Start -->

    <section id="Home">
      <div class="container">
        <div
          class="row home-wrapper justify-content-between align-items-center"
        >
          <div class="col-md-6">
            <div class="home-img arena-bg">
                <video width="300" height="620" autoplay muted loop playsinline poster="">
                  <source src="/resources/videos/Arena-Sdk.mp4" type="video/mp4">
                </video>

            </div>
          </div>
          <div class="col-md-6">
            <div class="home-content">
              <div class="home-top arena-h2">
                <h2>Arena SDK</h2>
                <p>Competitive Multiplayer package to engage your players</p>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/tournaments.png"
                      alt="tournaments"
                      loading="lazy"
                    />
                    <h3>Tournaments</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/pvp.png"
                      alt="pvp"
                      loading="lazy"
                    />
                    <h3>Duels / PVP</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/generatedtournaments.png"
                      alt="generatedtournaments"
                      loading="lazy"
                    />
                    <h3>User Generated Tournaments</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/leaderboards.png"
                      alt="leaderboards"
                      loading="lazy"
                    />
                    <h3>Leaderboards</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/MatchMaking.png"
                      alt="MatchMaking"
                      loading="lazy"
                    />
                    <h3>Match Making Capabilities</h3>
                  </div>
                </div>
                <div class="home-btn">
                  <a href="/arena">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row home-wrapper justify-content-between align-items-center flex-md-row flex-column-reverse"
        >
          <div class="col-md-6">
            <div class="home-content">
              <div class="home-top reward-h2" >
                <h2>Play To Earn Rewards Platform</h2>
                <p>
                  Engage and Reward your players with prizes. Play More To Earn
                  More
                </p>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/lucky-points.png"
                      alt="lucky-points"
                      loading="lazy"
                    />
                    <h3>Lucky Spins</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/sweepstakes.png"
                      alt="sweepstakes"
                      loading="lazy"
                    />
                    <h3>Sweepstakes</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/drive-engagement.png"
                      alt="generatedtournaments"
                      loading="lazy"
                    />
                    <h3>Custom Events To Drive Engagement</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/worldrewards.png"
                      alt="worldrewards"
                      loading="lazy"
                    />
                    <h3>Convert Tokens To Real World Rewards</h3>
                  </div>
                </div>
                <div class="home-btn">
                  <a href="/form">Book Meeting</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="home-img reward-bg" >
               <video width="300" height="620" autoplay muted loop playsinline poster="">
                <source
                  src="resources/videos/Rewards-Platform.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
        </div>
        <div
          class="row home-wrapper justify-content-between align-items-center"
        >
          <div class="col-md-6">
            <div class="home-img growkit-bg" >
              <video width="300" height="620" autoplay muted loop playsinline poster="">
                <source src="/resources/videos/Growth-Kit.mp4" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="col-md-6">
            <div class="home-content">
              <div class="home-top grwokit-h2">
                <h2>Publishing Growth Kit</h2>
                <p>Turn Your Games Into Global Hits</p>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/gameanalytics.png"
                      alt="gameanalytics"
                      loading="lazy"
                    />
                    <h3>Game Analytics</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/useracquisition.png"
                      alt="useracquisition"
                      loading="lazy"
                    />
                    <h3>Effective User Acquisition</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/classmonetization.png"
                      alt="classmonetization"
                      loading="lazy"
                    />
                    <h3>Best In Class Monetization</h3>
                  </div>
                </div>
                <div class="home-box">
                  <div class="home-box-top">
                    <img
                      src="resources/images/datatesting.png"
                      alt="datatesting"
                      loading="lazy"
                    />
                    <h3>Data Driven Testing</h3>
                  </div>
                </div>
                <div class="home-btn">
                  <a href="/form">Publish Your Game</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Home Section HTML End -->

    <!-- Featured Section HTML Start -->

    <section id="Featured" >
      <div class="container" >
        <div class="featured-title">
          <h2>Featured On</h2>
        </div>
        <div class="featured-item owl-carousel owl-theme">
          <div class="item">
            <a href="https://markets.businessinsider.com/news/stocks/jambox-games-raises-1-1-mn-for-next-generation-competitive-game-publishing-platform-1030305798" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-bi.png"
              alt=""
            />
            </a>
          </div>
          <div class="item">
            <a href="https://economictimes.indiatimes.com/tech/funding/jambox-games-lands-1-1-million-funding-led-by-ludus-venture-studio/articleshow/82075284.cms" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-et.png"
              alt=""
            />
          </a>
          </div>
          <div class="item">
            <a href="https://www.gamesindustry.biz/articles/2021-04-15-jambox-games-raises-usd1-1m-to-support-independent-developers-in-southeast-asia" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-gi.png"
              alt=""
            />
            </a>
          </div>
          <div class="item">
            <a href="https://www.techinasia.com/startup-helping-smaller-game-developers-cross-swords-tencent-garena" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-tia.png"
              alt=""
            />
          </a>
          </div>
          <div class="item">
            <a href="https://yourstory.com/2021/04/jambox-games-raises-11-m-ludos-venture-studio/amp" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-ys.png"
              alt=""
            />
            </a>
          </div>
          <div class="item">
            <a href="https://venturebeat.com/2021/04/14/jambox-raises-1-1-million-to-publish-games-by-devs-in-india-and-southeast-asia/" target="_blank">
              <img
                class="featured-img"
                src="resources/images/press-vb.png"
                alt=""
              />
            </a>
          </div>

          <div class="item">
            <a href="https://mobidictum.biz/ludus-venture-studio-invests-in-mobile-game-publishing-platform-in-asia/" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-mobi.png"
              alt=""
            />
          </a>
          </div>

          <div class="item">
            <a href="https://www.pocketgamer.biz/asia/news/76313/jambox-raises-1-million-competitive-casual-gaming-platform/" target="_blank">
            <img
              class="featured-img"
              src="resources/images/press-pocket.png"
              alt=""
            />
          </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Section HTML End -->

    <!-- Home Blog section HTML Start -->

    <section id="Home-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="home-blog-post">
              <div class="blog-post-img">
                <img
                  src="resources/images/blog-img-1.png"
                  alt="blog-img-1"
                  loading="lazy"
                />
              </div>
              <div class="blog-post-content">
                <i class="bi bi-calendar"></i><span>2021-04-16</span>
                <h2>Announcing our seed round led by Ludus Venture Studio</h2>
                <p>
                  We have just raised $ 1.1 mn lead by Ludus Venture Studio.
                </p>
                <div class="home-btn">
                  <a href="2021/04/16/announcing-our-dollar1-1-mn-seed-funding-ludus-venture-studio/">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" >
            <div class="home-blog-post">
              <div class="blog-post-img">
                <img
                  src="resources/images/blog-img-2.png"
                  alt="blog-img-2"
                  loading="lazy"
                />
              </div>
              <div class="blog-post-content">
                <i class="bi bi-calendar"></i><span>2021-04-13</span>
                <h2>Why we are building Jambox</h2>
                <p>
                  Today's mobile game developers can't compete with global
                  giants, Which is why we are building Jambox Games
                </p>
                <div class="home-btn">
                  <a href="2021/04/13/why-we-are-building-jambox/">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Home Blog section HTML End -->



    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="resources/js/bootstrap.min.js"></script>

    <!-- Jquery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="resources/js/owl.carousel.min.js"></script>

    <!-- Custom JS -->
    <script src="resources/js/custom.js"></script>


    

    <script>
      
       var i = 0;
      var text = "Power your mobile games with social, competitive multiplayer experience";
      var textOne = "                                                                       Complete Backend Infrastructure To Grow, Engage, Retain and Monetize Your Games";
      var speed = 75;
      function type() {
        document.querySelector(".text-white").innerHTML += text.charAt(i);
        document.querySelector(".subheadrtextwithbr").innerHTML += textOne.charAt(i);
        i++;
        setTimeout(type, speed);
      }
      type();
      // JavaScript for Featured Carousel
 $(".owl-carousel").owlCarousel({
     loop:true,
     autoplay:true,
     autoplayTimeout:2000,
     responsive: {
       0: {
         items: 4,
       },
       600: {
         items: 5,
       },
       1000: {
         items: 6,
       },
     },
   });
   </script>
  <script type="text/javascript">
  $(function () {
     $('#vidBox').VideoPopUp({
        backgroundColor: "#17212a",
        opener: "video1",
          maxweight: "340",
          idvideo: "v1"
      });
  });
    
    </script>
  </body>
</html>
