---
title: Jambox Games - Rewards Terms and Conditions
keywords: Jambox, Games, Jambox games, home
description: Rewards Terms and Conditions
og_image: og-home.jpg
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}

    <!-- About CSS -->
    <link rel="stylesheet" href="/resources/css/terms.css" />
    
  </head>
  <body>

    <header class="header">
        <div class="header-wrapper">
          {% include 'partials/nav.njk' %}
  
        </div>
      </header>



      <section id="privacy-policy">
          <h1 class="privacy-policy-text">Terms And Conditions
        </h1>
          <div class="paragraph">
          <p>These terms and conditions (“Terms”) govern the access to and use of the rewards-based websites (including both mobile and online versions), the online and mobile services (e.g., apps), of Jambox Pte. Ltd. (jointly the “Platform”) and the services made available on or through the Platform (“Service”). These Terms also include any guidelines, additional terms, policies, or disclaimers made available or issued by us from time to time.

            <br><br>

            These Terms constitute a binding and enforceable legal contract between Jambox Pte. Ltd. and its affiliates (“Jambox”, “we”, “us” or “our”) and you, a user of the Services (“you” or “User” collectively “Users”). 

            <br><br>

            By using the Services, you agree that you have read, understood, and are bound by these Terms, as amended from time to time, and that you will comply with the requirements listed herein. If you do not agree to these Terms or comply with the requirements listed herein, please do not use the Services.

            <br><br>

            We reserve the right to update and change the Terms and Conditions by posting updates and changes to the Platform and Services. You are advised to check the Terms and Conditions from time to time for any updates or changes that may impact you. If at any point such amendments are not acceptable to you, we advise you to cease using the Platform and Services at such time.


            <h1 class="subHeader">1. GENERAL TERMS OF SERVICE            </h1>
            <br>
            <p><span style="font-weight: 800">A) </span>The Platform is made available by Jambox, a company incorporated under the laws of Singapore, with its registered office at 68 CIRCULAR ROAD #02-01, SINGAPORE (049422), and its affiliates.            </p>
            <p><span style="font-weight: 800">B) </span>The material on the Platform includes general information about its Services available to all Users of the Platform. In order to access and use certain Services, the User may be required to register using a user profile or password that is provided to the User by the organisation or entity that the User represents (“Profile Information”).              </p>
            <p><span style="font-weight: 800">C) </span>Information available on or through our Platform should not be construed as a commercial offer and does not create any professional relationship between the Planform and the User.              </p>
            <p><span style="font-weight: 800">D) </span>The Service enables its Users to play games, earn tokens (“Game Tokens”) and enter into Sweepstakes. The User is responsible for their use of the Services and any consequences thereof. The Platform allows the User to earn Game Tokens in various ways, including but not limited to daily login, playing games, and inviting other users to the Platform. Game Tokens are used to enter into sweepstakes (subject to these Terms and Conditions).              </p>

            
            <h1 class="subHeader">2. REGISTRATION            </h1>
            <br>
            <p><span style="font-weight: 800">A) </span>In order to access and use the Services, you will be required to register using an email address and password and furnish certain details (“Registered Profile”). It is the User’s responsibility to ensure that the information you furnish is at all times accurate and up-to-date, and kept confidential. We shall have no liability in this regard.            </p>
            <p><span style="font-weight: 800">B) </span>The User are solely responsible for maintaining the security and confidentiality of your username and password associated with your Registered Profile and agree to immediately notify us of any disclosure or unauthorised use of your Registered Profile or any other breach of security with respect to your Registered Profile.            </p>
            <p><span style="font-weight: 800">C) </span>You are liable and accountable for all activities that take place through your Registered Profile. We shall not be liable for any unauthorised access to your Registered Profile.            </p>
            <p><span style="font-weight: 800">D) </span>You may not use, as part of your Registered Profile, a username or the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorisation. You may not use as a username any name that is offensive, vulgar or obscene.            </p>
            <p><span style="font-weight: 800">E) </span>We reserve the right to refuse Service or terminate Registered Profiles at our sole discretion.            </p>
            <p><span style="font-weight: 800">F) </span>You agree to receive communications from us regarding (i) information about us and the Service, (ii) newsletters, marketing or promotional materials from us and our third party partners, and (iii) any other matter in relation to the Service. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link contained in such communications or by emailing us.            </p>


            <h1 class="subHeader">3. SERVICE            </h1>
            <br>
            <p><span style="font-weight: 800">A) </span>Sweepstake
            
                <ul>
                    <li>The Platform offers and enables the Users to collect and earn assigned Game Tokens by accomplishing certain actions or tasks (“Tasks”) on the Platform. The Users may use such earned Game Tokens to enter multiple daily and weekly sweepstakes rolled out on the Platform (“Sweepstake”) by releasing the corresponding Game Tokens required for participating in such Sweepstakes (“Mandated Token Release”).                     </li>
                    <br>
                    <li>The number of entries in a particular Sweepstake is subject to a maximum limit as defined by sweepstake configuration  by Jambox. We reserve the right to alter or modify such a maximum limit imposed on entering Sweepstakes.                    </li>
                    <br>
                    <li>The User agrees and acknowledges that the Game Token has no real-world value.                     </li>
                    <br>
                    <li>We are not responsible for any entry Game Token that is lost, stolen, or otherwise not received.                    </li>
                    <br>
                    <li>We reserve the right to change the mode of the accrual of one or any such Game Tokens, including the number of such Game Tokens received in proportion to the User’s activities on the Platform at our sole discretion. We also reserve the right to discontinue or change or issue any new form of Game Tokens offered at any time, at our sole discretion. Additionally, we reserve the right to cancel, suspend and/or modify the Sweepstake, or any part of it, if any fraud, or other factor beyond the our reasonable control impairs the integrity or proper functioning of the Sweepstake, as determined by us at our sole discretion. Further, We reserve the right to disqualify any User, who does not meet the offer requirements or for any other reason including but not limited to any misuse of the offer or fraud or suspicious activity or under any legal requirement or applicable rules and regulations, from receiving any Game Token.                    </li>
                </ul>
            </p>

            <p><span style="font-weight: 800">B) </span><span style="text-decoration: underline">Eligibility:</span> Only those Users are eligible to enter Sweepstakes who have attained the minimum age to enter into a legally binding contract based on the applicable laws of their respective jurisdiction. Employees, officers, and directors of Game, and its parent, subsidiary, affiliated or related companies, and all other entities associated with the creation, administration, promotion, or fulfilment of the Platform’s game (“Game”), and each of their respective parent, subsidiary, affiliated and related companies (collectively, the “Game Entities”), and each of their immediate family members and persons residing in the same household of such family members are not eligible to enter or win the Game.</p>

            <p><span style="font-weight: 800">C) </span>Rewards
                <ul>
                    <li>Each Sweepstake shall be different in terms of the corresponding Mandated Token Release required to enter and the rewards offered by such Sweepstake.                    </li>
                    <br>
                    <li>The maximum number of Game Tokens a User may collect and earn is limited to 10,000 in a period of one (1) days.                     </li>
                    <br>
                    <li>The Game Tokens collected and earned by a User shall expire on a rolling and ongoing basis, every  30(Thirty) days.                     </li>
                    <br>
                    <li>We reserve the sole right to pick the Users who have participated in a Sweepstake after paying the corresponding Mandated Token Release as winners by random drawing based on the computer algorithm embedded in the Platform’s software.                    </li>
                    <br>
                    <li>Once a User is declared a winner of a particular Sweepstake, the advertised reward for such Sweepstake shall be credited to the User’s virtual wallet (“Wallet”) as balance (“Balance”) or as third party gift cards, vouchers, promotional codes, discounts, coupon codes, etc (“Offers”) (hereinafter collectively referred to as “Prizes”).                    </li>
                    <br>
                    <li>The Users may view the Balance earned or redeemable Offers in the game by clicking the Wallet ($) icon in the game. The User agrees and acknowledges that the Wallet is neither a bank account nor a payment instrument.                    </li>
                    <br>
                    <li>We are not responsible for lost or stolen Prizes or redemption messages. Unclaimed Prizes cannot be Withdrawn. The User agrees and acknowledges that they shall not be considered as an official winner of a Prize unless and until the Platform confirms the User’s eligibility and compliance with these Terms.                    </li>
                </ul>
            </p>


            <p><span style="font-weight: 800">D) </span><span style="text-decoration: underline;">Prize</span>
                <ul>
                    <li>The User’s Withdrawal of the Prizes shall be subject to earning a minimum voucher value of USD25  in their Wallets (“Minimum Voucher Conversion Threshold”). We reserve the right to alter or modify such Minimum Voucher Conversion Threshold required for a User to Withdraw the Prizes they have earned in their Wallet.                    </li>
                    <br>
                    <li>Upon meeting the Minimum Voucher Conversion Threshold requirement, a User may withdraw the Balance in the form of vouchers they have earned in their virtual Wallet (in lump sum) the third party Offers on their respective websites and applications by following the withdrawal instructions (“Withdrawal”).                    </li>
                    <br>
                    <li>Balance and Offers in a User’s Wallet not Withdrawn or availed within 90 (Ninety) days, calculated on a rolling and ongoing basis, shall be deemed forfeited. We may also at our discretion modify the expiry period for the Prizes.                    </li>
                    <br>
                    <li>Upon Withdrawal of earned Prizes, the Platform shall send an email or an SMS to the User’s registered e-mail ids, or contact numbers respectively via the Platform’s registered partner service <a href="https://www.tremendous.com/">https://www.tremendous.com/</a> (“Tremendous”). Tremendous shall assist the Users in availing Offers earned depending on availability.                    </li>
                    <br>
                    <li>You agree and acknowledge that the Prizes cannot be cancelled, returned, refunded or modified once they have been redeemed.                     </li>
                    <br>
                    <li>We reserve the right to request the Users to perform and complete supplemental actions or tasks before Withdrawals take place.                     </li>
                </ul>
            </p>


            <p><span style="font-weight: 800">E) </span><span style="text-decoration: underline;">Conditions</span>
                <ul>
                    <li>The User agrees and acknowledges that in the event the User deletes/ uninstalls the Platform’s Game from their device, the Prizes won shall be deleted from the Wallet and lost.                    </li>
                    <br>
                    <li>The Platform does not have a way to redirect incorrectly transferred Prizes once they have been Withdrawn from the User’s Wallet and shall not be held responsible for any errors on the part of the User by way of entering incorrect information including but not limited to incorrect PayPal account or address, or any other error that results in the loss of Wallet Balance.                    </li>
                    <br>
                    <li>The User shall be solely responsible for the payment of any required taxes or withholding.                    </li>
                    <br>
                    <li>In the event the Platform is not able to fulfil the Prizes to any User or any User cannot claim the Prizes for any reason whatsoever, including a failure of a User to Withdraw Prizes within the prescribed time limits or a deletion of the User’s account, We reserve the right to not award the Prizes, at the Our sole discretion.                    </li>
                    <br>
                    <li>The User agrees and acknowledges that all Withdrawals will be processed within 15 days of the Withdrawal request.                    </li>
                    <br>
                    <li>We shall further reserve the right to void all Prizes made through any robotic, automatic, mechanical, programmed, similar entry duplication method or any other suspicious activity or technical issues with the Platform as determined at Our sole discretion.                    </li>
                    <br>
                    <li>We shall reserve the right to  disqualify and permanently ban from the Platform any person found tampering with or abusing any aspect of the Platform, the Game or system, or who We believe to be causing malfunction, error, disruption.                     </li>
                    <br>
                    <li>We will be the sole judge of which Game Tokens, Prizes, Withdrawals, and game play are valid and Our decision is final and binding.                    </li>
                </ul>
            </p>

            <h1 class="subHeader">4. CONSENT TO USE DATA</h1>
            <br>
            <p><span style="font-weight: 800">A)</span> You agree that we may, in accordance with our Privacy Policy (as amended from time to time), collect and use your personal information.            </p>
            <p><span style="font-weight: 800">B)</span> In addition to any consent you may give pursuant to the Privacy Policy, you hereby consent to us sharing your information with our affiliates or other Third Party Service providers.             </p>
            <p><span style="font-weight: 800">C)</span> We may use information and data pertaining to your use of the Service for provision of the Service, analytics, trend identification, and purposes of statistics to further enhance the effectiveness and efficiency of our Service.            </p>
            <p><span style="font-weight: 800">D)</span> Subject to applicable laws, we may be directed by law enforcement agencies or the government and related bodies to disclose data in relation to you in connection with criminal proceedings. You understand and agree that in such instances, we shall have the right to share such data with relevant agencies or bodies.            </p>

            <h1 class="subHeader">5. CONSENT TO USE DATA</h1>
            <br>
            <p><span style="font-weight: 800">A)</span> The Platform may include the services, content, documents, and information owned by, licensed to, or otherwise made available by a third party (“Third Party Service”). You understand and acknowledge that Third Party Services are the responsibility of the third party that created or provided it and acknowledge that use of such Third Party Services is solely at your own risk.</p>
            <p><span style="font-weight: 800">B)</span> We make no representations and exclude all warranties and liabilities directly or indirectly, including any express or implied warranties, whether oral or written, related to or pertaining to the use of such Third Party Services, including their non-infringement, accuracy or completeness. Should you avail a Third Party Service, you shall be governed and bound by the terms and conditions and privacy policies of the third parties providing the Third Party Services. You acknowledge that no representation has been made by the Platform as to the fitness of the third party services for any purpose.            </p>

            <h1 class="subHeader">6. YOUR RESPONSIBILITIES            </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> You represent and warrant that:            </p>

            <ul>
                <li>you have full legal capacity and authority to agree and bind yourself to these Terms;                </li>
                <li>if you represent an entity, organisation, or any other legal person, you confirm and represent that you have the necessary power and authority to bind such entity, organisation, or legal person to these Terms.                </li>
                <li>you are not barred or otherwise legally prohibited from accessing or using the Service;                </li>
                <li>all information that you provide in relation to the Service is complete, true, and correct on the date of agreeing to these Terms and shall continue to be complete, true, and correct while you use the Service;                </li>
                <li>should any information that you provide change during the existence of these Terms, you undertake to immediately bring such change to our notice. You acknowledge and agree that we do not accept any responsibility or liability for any loss or damage that you may suffer or incur if any information, documentation, material, or data provided to avail the Service is incorrect, incomplete, inaccurate, or misleading, or if you fail to disclose any material fact.                </li>
            </ul>


            <p><span style="font-weight: 800">B)</span> You shall extend all cooperation to us in our defence of any proceedings that may be initiated against us due to a breach of your obligations or covenants under these Terms.            </p>

            <p><span style="font-weight: 800">C)</span> You shall not use the Service in any manner except as expressly permitted in these Terms. Without limiting the generality of the preceding sentence, you shall not:            </p>
            <ul>
                <li>Systematically retrieve data or other content from the Platform to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.                </li>
                <li>Make any unauthorized use of the Platform, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.                </li>
                <li>Circumvent, disable, or otherwise interfere with security-related features of the Platform, including features that prevent or restrict the use or copying of any content or enforce limitations on the use of the Platform and/or the content contained therein.                </li>
                <li>Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.                </li>
                <li>Engage in any automated use of the system, such as using scripts, or using any data mining, robots, or similar data gathering and extraction tools.                </li>
                <li>Interfere with, disrupt, or create an undue burden on the Platform or the networks or services connected to the Platform.                </li>
                <li>Attempt to impersonate another user or person or use the username of another User.                </li>
                <li>Use any information obtained from the Platform in order to harass, abuse, or harm another person.                </li>
                <li>Use the Platform as part of any effort to compete with us or otherwise use the Platform and/or the content for any revenue-generating endeavour or commercial enterprise.                </li>
                <li>Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Platform.                </li>
                <li>Attempt to bypass any measures of the Platform designed to prevent or restrict access to the Platform, or any portion of the Platform.                </li>
                <li>Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Platform to you.</li>
                <li>Copy or adapt the Platform’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code.                </li>
                <li>Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material that interferes with any user’s uninterrupted use and enjoyment of the Platform or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Platform.                </li>
                <li>Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Platform.                </li>
                <li>Attempt to gain unauthorised access to any portion or feature of the Service, any other systems or networks connected to the Service, to any of our servers, or through the Platform, by hacking, password mining, or any other illegitimate means.                </li>
                <li>Use the Platform in a manner inconsistent with any applicable laws or regulations.                </li>
                
            </ul>

            <h1 class="subHeader">7. CONSENT TO USE DATA</h1>
            <br>
            <p><span style="font-weight: 800">A)</span> This Platform contains links to other Internet sites that other third parties own or operate. These links are provided for your convenience only. Your use of each of those sites is subject to the terms of use, if any, that each of those sites have posted.            </p>
            <p><span style="font-weight: 800">B)</span> We have not reviewed all the sites linked to the Platform, and we are not responsible for any changes to or content on them. We have no control over the content of those sites or resources, and we accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third-party websites linked to the Platform, you do so entirely at your own risk and subject to the terms and conditions of use for such websites. Our inclusion of any content is not an endorsement of that material or linked site or the companies that own or operate the material or linked sites.             </p>
            <p><span style="font-weight: 800">C)</span> The User specifically acknowledges that the We are not liable, and you agree not to seek to hold Us liable, for the conduct of third parties, including other users of the service, operators of external sites and merchants, and that the risk of the service and external sites and of injury from the foregoing rests entirely with you.            </p>
            <p><span style="font-weight: 800">D)</span> We may disable or modify all or any features and any links at any time without notice in our discretion.            </p>

            <h1 class="subHeader">8. INTELLECTUAL PROPERTY </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> The Platform as well as its logos, contents, features, functionality (including but not limited to all information, custom graphics, icons, comments, software, scripts, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), and all information, products, and Service offered by us to you in connection with the Service are protected under applicable copyrights, trademarks, and other proprietary (including but not limited to intellectual property) rights.            </p>
            <p><span style="font-weight: 800">B)</span> All rights, title, and interest in and to the Service, including all intellectual property rights arising out of the Service, are owned by or otherwise licensed to us. All other products, names, and company logos mentioned on the Platform in the Content are trademarks of their respective owners.            </p>
            <p><span style="font-weight: 800">C)</span> You do not acquire ownership rights to the Platform or any content, other than those rights, if any, that we may specifically grant you in writing, such as the non-commercial, non-exclusive, non-transferable, non-sub licensable, revocable, and limited right to use the Platform or the Services in accordance with these Terms.            </p>
            <p><span style="font-weight: 800">D)</span> <span style="text-decoration: underline">Feedback:</span> You acknowledge and agree that any feedback, comments, or suggestions you may provide regarding the Service (“Feedback”) is entirely voluntary and considered non-confidential and non-proprietary to you. We will be free to use such feedback, comments, or suggestions as seen fit and without any obligation to you. We may freely use, copy, disclose, publish, display, distribute, and exploit the Feedback we receive from you, without any payment of royalty, acknowledgement, prior consent, or any other form of restriction arising out of your intellectual property rights.</p>

            <h1 class="subHeader">9. TERM AND TERMINATION </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> These Terms shall remain in effect unless terminated in accordance with the terms hereunder.            </p>
            <p><span style="font-weight: 800">B)</span> We may terminate your access to or use of the Service, or any portion thereof, immediately and at any point, at our sole discretion (a) if you violate or breach any of the obligations, responsibilities, or covenants under these Terms, or (b) when you cease to become a user of our Service, or (c) if you do not, or are likely not to, qualify under applicable law, to access and use the Services, or (d) for any legitimate business, legal, or regulatory reason.            </p>
            <p><span style="font-weight: 800">C)</span> If you wish to terminate your account, you simply need to notify us in 15 (Fifteen) days in advance via email to <span style="font-weight: 800;">hello@jambox.games.     </span>        </p>
            <p><span style="font-weight: 800">D)</span> Upon termination of these Terms:          
            <ul>
                <li>the Registered Profile will expire;                </li>
                <li>the Service will ‘time-out’; and                </li>
                <li>these Terms shall terminate, except for those clauses that expressly or are intended to survive termination or expiry.                </li>
            </ul>  </p>


            <h1 class="subHeader">10. DISCLAIMERS AND WARRANTIES            </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> The Services and the Platform are provided on an “as is” basis without warranty of any kind, express, implied, statutory, or otherwise, including the implied warranties of title, non-infringement, merchantability, or fitness for a particular purpose. Without limiting the foregoing, we make no warranty that the Service will meet your requirements or expectations.            </p>
            <p><span style="font-weight: 800">B)</span> No advice or information, whether oral or written, obtained by you from us shall create any warranty that is not expressly stated in the Terms.            </p>
            <p><span style="font-weight: 800">C)</span> You hereby accept full responsibility for any consequences that may arise from your use of the Service, and expressly agree and acknowledge that we shall have absolutely no liability in this regard.            </p>
            <p><span style="font-weight: 800">D)</span> To the fullest extent permissible by law, we, our affiliates, and our related parties each disclaim all liability for any loss or damage arising out of or due to: 
            <ul>
                <li>your use of, inability to use, or availability or unavailability of the Service, including any third-party service;                </li>
                <li>the occurrence or existence of any defect, interruption, or delays in the operation or transmission of information to, from, or through the Service, communications failure, theft, destruction or unauthorised access to our records, programmes, Service, server, or other infrastructure relating to the Service;                </li>
                <li>the failure of the Service to remain operational for any period of time; and                </li>
                <li>loss of any data in connection with your use of the Service.                </li>
            </ul>  </p>
        
            <h1 class="subHeader">11. INDEMNITY </h1>
            <br>
            <p>You shall indemnify, defend at our option, and hold us, our subsidiaries, affiliates, and our officers, employees, directors, agents, and representatives, harmless from and against any claim, demand, lawsuits, judicial proceeding, losses, liabilities, damages and costs (including, without limitation, all damages, liabilities, settlements, and attorneys’ fees) due to or arising out of your access to the Service, use of the Service, violation of these Terms, or any violation of these Terms by any third party who may use your Registered Profile to access the Service through the Platform
            </p>

            <h1 class="subHeader">12. LIMITATION OF LIABILITY </h1>
            <br>
            <p>In no event shall we, our officers, directors and employees, or our contractors, agents, licensors, partners, or suppliers be liable to you for any direct, special, indirect, incidental, consequential, punitive, reliance, or exemplary damages (including without limitation lost business opportunities, lost revenues, or loss of anticipated profits or any other pecuniary or non-pecuniary loss or damage of any nature whatsoever, including but not limited to abuse or breach of data), even if we or an authorised representative have been advised of the possibility of such damages, arising out of or relating to (i) these Terms, (ii) the Service, (iii) your use or inability to use the Service, or (iv) any other interactions with another user of the Service.
            </p>

            <h1 class="subHeader">13. MODIFICATION</h1>
            <br>
            <p><span style="font-weight: 800">A)</span> We reserve the right at any time to add, modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without cause. We shall not be liable for any such addition, modification, suspension, or discontinuation of the Service.            </p>
            <p><span style="font-weight: 800">B)</span> From time to time, we may restrict access to some parts of Service, or the entire Service, to users, including registered users.            </p>


            <h1 class="subHeader">14. JURISDICTION, GOVERNING LAWS, AND DISPUTE RESOLUTION            </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> All matters relating to the Platform or these Terms of Use, and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of the courts of Singapore without giving effect to any choice or conflict of law provision or rule.
            </p>
            <p><span style="font-weight: 800">B)</span> Any controversies, conflicts, disputes, or differences arising out of these Terms shall be resolved by arbitration in accordance with the JAMS International Arbitration Rules and Procedures for the time being in force, which is deemed to be incorporated by reference in this clause. The seat of arbitration would be Singapore and the language of the arbitration shall be English. The tribunal shall consist of 1 (one) arbitrator appointed by us. The parties to the arbitration shall keep the arbitration confidential and not disclose to any person, other than on a need to know basis or to legal advisors, unless required to do so by law. The decision of the arbitrator shall be final and binding on all the parties hereto. Each party to the arbitration shall bear its own costs with respect to any dispute.
            </p>

            <h1 class="subHeader">15. GRIEVANCE REDRESSAL            </h1>
            <br>
            <p><span style="font-weight: 800">A)</span> You may contact our designated Grievance Redressal Officer with any complaints or queries relating to the Service or these Terms through registered post or through email, details of which are provided below:
                <br>Admin Manager 
            <br>Email Address: hello@jambox.games
            <br>Address: 68 CIRCULAR ROAD #02-01, SINGAPORE (049422)
            </p>
            <p><span style="font-weight: 800">B)</span> We shall ensure that your complaint is resolved within timelines prescribed by applicable laws.
            </p>


            <h1 class="subHeader">16. MISCELLANEOUS PROVISIONS</h1>
            <br>
            <p><span style="font-weight: 800">A)</span> <span style="text-decoration: underline">Changes to Terms: </span>The Terms are subject to revisions at any time, as determined by us, and all changes are effective immediately upon being posted on the Platform. It is your responsibility to review these Terms periodically for any updates or changes. You will be deemed to have accepted the changes made to these Terms if you continue to use the Platform once it has been posted.
            </p>
            <p><span style="font-weight: 800">B)</span> <span style="text-decoration: underline">Severability: </span>If any provision of these Terms is determined by any court or other competent authority to be unlawful or unenforceable, the other provisions of these Terms will continue in effect. If any unlawful or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect (unless that would contradict the clear intention of the clause, in which case the entirety of the relevant provision will be deemed to be deleted).
            </p>

            <p><span style="font-weight: 800">C)</span> <span style="text-decoration: underline">Assignment: </span>You shall not license, sell, transfer, or assign your rights, obligations, or covenants under these Terms in any manner without our prior written consent. We may grant or withhold this consent at our sole discretion and subject to any conditions we deem appropriate. We may assign our rights to any of our affiliates, subsidiaries, or parent companies, any successor in interest of any business associated with the Service, or any third party without any prior notice to you.
            </p>

            <p><span style="font-weight: 800">D)</span> <span style="text-decoration: underline">Notices: </span>All notices, requests, demands, and determinations for us under these Terms (other than routine operational communications) shall be sent <span style="font-weight: 800">hello@jambox.games .</span>
            </p>

            <p><span style="font-weight: 800">E)</span> <span style="text-decoration: underline">Third Party Rights: </span>No third party shall have any rights to enforce any terms contained herein.</span>
            </p>

            <p><span style="font-weight: 800">F)</span> <span style="text-decoration: underline">Force Majeure: </span>We shall have no liability to you if we are prevented from or delayed in performing our obligations or from carrying on our business by acts, events, omissions, or accidents beyond our reasonable control, including, without limitation, strikes, failure of a utility service or telecommunications network, act of God, war, riot, civil commotion, malicious damage, or compliance with any law or governmental order, rule, regulation, or direction.
            </p>
            <p><span style="font-weight: 800">G)</span> <span style="text-decoration: underline">Acknowledgement: </span>By using the Service or other Service provided by us, you acknowledge that you have read these terms of Service and agree to be bound by them. 
            </p>




        </p>
        </div>
        <p></p>
      </section>



  {% include 'partials/footer.njk' %}


    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>


    </body>
    </html>