---
title: Team
keywords: Jambox, Games, Jambox games, team
description: A passionate team of gaming and tech enthusiasts have come together to help developers succeed at a global level
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <!-- Team CSS -->
    <link rel="stylesheet" href="/resources/css/team.css"/>
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
        <!-- Team Hero Section HTML Start -->
        <section id="Team-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="team-hero-content">
                  <h1 class="text-white">Team Awesome</h1>
                  <p class="text-white">
                    A passionate team of gaming and tech enthusiasts have come
                    together to help developers succeed at a global stage
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="team-hero-img">
                  <img
                    src="/resources/images/team-hero.png"
                    alt="team-hero"
                    loading="lazy"
/>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Team Hero Section HTML End -->
      </div>
    </header>

    <!-- Header Section HTML End -->

    <!-- Team Section HTML Start -->

    <section id="Team">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/VikasGulati.png"
                  alt="Vikas Gulati"
                  loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                    Business Leader & Senior Management Executive. Over 2 decades in Adtech, Mobile Gaming, Business Development, Partnerships and Start Ups. Ex AdColony & Opera

                  </p>
                  <a href="https://sg.linkedin.com/in/vikasgulati" target="_blank">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Vikas Gulati</h3>
                <p class="text-dark">Founder & CEO</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/VipulVarshney.png"
                  alt="Vipul Varshney"
                  loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                    A Passionate product and technology leader with experience in envisioning, architecting and delivering a broad range of distributed and real time applications. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/vipul-varshney-3a9a358">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Vipul Varshney</h3>
                <p class="text-dark">CTO</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/RaviVyas.png"
                  alt="Ravi Vyas"
                  loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                    Ex MoEngage & Vserv. A seasoned Product Manager and entrepreneur whose expertise lies at the union of data analytics and Mobile. The product guy for Start Ups
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/ravivyas/">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Ravi Vyas</h3>
                <p class="text-dark">Head Of Product</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/AbhishekBharti.png"
                  alt="Abhishek Bharti"
                  loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                    7 years in Gaming and 10 years in Software development. I have worked on different genre of games such as Strategy, Card, Casino, Casual.
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/bhartiabhishek/">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Abhishek Bharti</h3>
                <p class="text-dark">Senior Software Engineer</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                src="/resources/images/RashmiChotia.png"
                alt="Rashmi Chotia"
                loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                  Growth Marketing, Operations and Monetization specialist. Love playing Games. Ex YourStory
                </p>
                  <a target="_blank" href="https://www.linkedin.com/in/rashmi-chotia/">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Rashmi Chotia</h3>
                <p class="text-dark">Growth Marketing Executive</p>
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                src="/resources/images/AjithR.png"
                alt="Ajith R"
                loading="lazy"
/>
                <div class="team-card-info">
                  <p class="text-white">
                  Passionate Indie Game Developer creating games for 3+ years
                  using Unity3D. Eager to learn new skills and improve my
                  knowledge. I am more interested in coding
                </p>
                  <a target="_blank" href="https://www.linkedin.com/in/ajith-r-70a888115/">
                    <i class="bi bi-linkedin"></i>
                  </a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Ajith R</h3>
                <p class="text-dark">Unity Developer</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- Team Section HTML End -->

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
