---
title: Team
keywords: Jambox, Games, Jambox games, team
description: A passionate team of gaming and tech enthusiasts have come together to help developers succeed at a global level
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <!-- Team CSS -->
    <link rel="stylesheet" href="/resources/css/team.css" />
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
        <!-- Team Hero Section HTML Start -->
        <section id="Team-hero">
          <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <div class="team-hero-content">
                  <h1 class="text-white">Team Awesome</h1>
                  <p class="text-white">
                    A passionate team of gaming and tech enthusiasts have come
                    together to help developers succeed at a global stage
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="team-hero-img">
                  <img
                    src="/resources/images/team-hero.png"
                    alt="team-hero"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Team Hero Section HTML End -->
      </div>
    </header>

    <!-- Header Section HTML End -->

    <!-- Team Section HTML Start -->

    <section id="Team">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/VikasGulati.png"
                  alt="Vikas Gulati"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Business Leader & Senior Management Executive. Over 2 decades in Adtech, Mobile Gaming, Business Development, Partnerships and Start Ups. Ex AdColony & Opera

                  </p>
                  <a href="https://sg.linkedin.com/in/vikasgulati" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Vikas Gulati</h3>
                <p class="text-dark">Founder & CEO</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/AliciaVo.png"
                  alt="Alicia Vo"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Ex Amanotes. Data and business-driven. A cat person. Love scaling business effectively.
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/alicia-vo-a975bbb3"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Alicia Vo</h3>
                <p class="text-dark">Head of User Acquisition</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/VipulVarshney.png"
                  alt="Vipul Varshney"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    A Passionate product and technology leader with experience in envisioning, architecting and delivering a broad range of distributed and real time applications. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/vipul-varshney-3a9a358"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Vipul Varshney</h3>
                <p class="text-dark">CTO</p>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/RashmiChotia.png"
                  alt="RashmiChotia"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Passionate Indie Game Developer creating games for 3+ years
                    using Unity3D. Eager to learn new skills and improve my
                    knowledge. I am more interested in coding
                  </p>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Rashmi Chotia</h3>
                <p class="text-dark">Growth Marketing Executive</p>
              </div>
            </div>
          </div> -->

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/RaviVyas.png"
                  alt="Ravi Vyas"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Ex MoEngage & Vserv. A seasoned Product Manager and entrepreneur whose expertise lies at the union of data analytics and Mobile. The product guy for Start Ups
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/ravivyas/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Ravi Vyas</h3>
                <p class="text-dark">Head Of Product</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/KateDuong.png"
                  alt="Kate Duong"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Ex Google. Digital marketer with over 5 years in Gaming,  I'm always seeking the best way to scale games
                  </p>
                  <a target="_blank" href="https://vn.linkedin.com/in/duongnhathuong"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Kate Duong</h3>
                <p class="text-dark">Senior UA</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/AbhishekBharti.png"
                  alt="Abhishek Bharti"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    7 years in Gaming and 10 years in Software development. I have worked on different genre of games such as Strategy, Card, Casino, Casual.
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/bhartiabhishek/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Abhishek Bharti</h3>
                <p class="text-dark">Senior Software Engineer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/TomNguyen.png"
                  alt="Tom Nguyen"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Ex Yodo 1, Senior executive in Sales and Business Development. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/tom-nguyen92/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Tom Nguyen</h3>
                <p class="text-dark">Business Development Manager</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/NikhilSinghal.png"
                  alt="Nikhil Singhal"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    An engineer who is passionate about games and has three years of experience building them. Worked on Poker, Rummy, TeenPatti, Bingo, Ludo in past. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/nikhilsinghal29/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Nikhil Singhal</h3>
                <p class="text-dark">Senior Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/NguyenThiKieuNga.png"
                  alt="Nguyen Thi Kieu Nga"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Ex Amanotes, Data Analyst with 3 years experience in product & business analysis. Loves working with developers and gives them data insights to take their games to top of the charts
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/nga-nguyen-42aa33144/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Nguyen Thi Kieu Nga</h3>
                <p class="text-dark">Data Analyst</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/PiyushSinha.png"
                  alt="Piyush Sinha"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Software Engineer who loves to build new Products with new Technology. I have worked on multiple Stacks like Next/Nuxt, MERN/MEVN, SQL/NoSQL.
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/inpiyushsinha/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Piyush Sinha</h3>
                <p class="text-dark">Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/BaoLamNguyen.png"
                  alt="Bao Lam Nguyen"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    In the gaming industry for about 5 years, experiences Project Manager, Publishing Manager and Publishing Lead. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/bao-lam-nguyen-4b912812b/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Bao Lam Nguyen</h3>
                <p class="text-dark">Lead of Publishing SEA</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/DominicNguyen.png"
                  alt="Dominic Nguyen"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Creative Strategy Guy.  Ideas and execution. 3 years in Gaming !
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/trung-nguyen-014750197/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Dominic Nguyen</h3>
                <p class="text-dark">Creative Planner</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/RashmiChotia.png"
                  alt="Rashmi Chotia"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Growth Marketing, Operations and Monetization specialist. Love playing Games. Ex YourStory
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/rashmi-chotia/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Rashmi Chotia</h3>
                <p class="text-dark">Growth Marketing Executive</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/NguyenThanhXuan.png"
                  alt="Nguyễn Thanh Xuân"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Video editor and motion graphic designer. I love drawing and playing games, especially Pokemon, LOL, Valorant games. Dependable team player
                  </p>
                  <a target="_blank" href="https://www.behance.net/thanhxunnguyn"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Nguyễn Thanh Xuân</h3>
                <p class="text-dark">Video Editor</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/NguyenNhunang.png"
                  alt="Nguyễn Như Năng"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Graphic designer with 5 years of experience. Solid experience in video editing and product design. Expertise in Photoshop, Illustrator, after effect and Spine. 
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/nang-nguyen-695b53229"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Nguyễn Như Năng</h3>
                <p class="text-dark">Video Editor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/DuongDucThanh.png"
                  alt="Duong Duc Thanh"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    10 years of experience in Video editing, motion graphics and 3d motion. The very best in my craft !

                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/thanh-duong-793486229/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Duong Duc Thanh</h3>
                <p class="text-dark">Video Editor</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/AjithR.png"
                  alt="Ajith R"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Passionate Indie Game Developer creating games for 3+ years
                    using Unity3D. Eager to learn new skills and improve my
                    knowledge. I am more interested in coding
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/ajith-r-70a888115/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Ajith R</h3>
                <p class="text-dark">Unity Developer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card">
              <div class="team-card-img">
                <img
                  src="/resources/images/IdhantDabral.png"
                  alt="Idhant Dabral"
                  loading="lazy"
                />
                <div class="team-card-info">
                  <p class="text-white">
                    Passionate junior Game programmer, and Designer who loves to work on game-based applications. Love working on Unity !
                  </p>
                  <a target="_blank" href="https://www.linkedin.com/in/idhant-dabral"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="team-card-content">
                <h3 class="text-dark">Idhant Dabral</h3>
                <p class="text-dark">Unity Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team Section HTML End -->

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
