---
title: Thank you 
keywords: Jambox, Games, Jambox games, Arena, Jambox Arena
description: Power-up your mobile games
og_image: og-home.jpg
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <link rel="stylesheet" href="resources/css/thank-you.css" />

  </head>
  <body>



    <header class="header" >
        <div class="header-wrapper">
            {% include 'partials/nav.njk' %}
          </div>
          <!-- Navigation Section End -->
  
          <!-- Home Hero Section HTML Start -->
  
          <section id="Home-hero">
            <div class="container">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-6">
                  <div class="home-hero-content">
                    <h1 class="text-white">
                      Thank You
                    </h1>
                    <p class="text-white subheadrtextwithbr">
                      We Will Get Back To You In 24 Hours
                    </p>
                    <div class="home-button">
                      <a class="home-btn1" href="index.html">Back Home </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="home-hero-img">
                    <img
                      src="resources/images/Group.png"
                      alt="home-banner"
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
  
          <!-- Home Hero Section HTML End -->
        </div>
      </header>


      {% include 'partials/footer.njk' %}

      <script src="/resources/js/custom.js"></script>

  </body>
  </html>
