{%- for post in collections.post | reverse -%}
  <div class="container">
    <hr class="blog-line"/>
    <div class="blog-date">
      <p>{{ post.data.date |  htmlDateString }}</p>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <div class="blog-content">
          <h2>{{ post.data.title }}</h2>
          <p>{{ post.data.description }}</p>
          <div class="blog-btn">
            <a class="d-flex" href="{{ post.url | url }}">Read More<i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="blog-img">
          <img src="/resources/images/{{ post.data.cover }}"/>
        </div>
      </div>
    </div>
  </div>
{%- endfor -%}
