  <!-- Footer Section HTML Start -->

    <footer id="Footer" >
      <div class="footer-wrapper">
        <div class="container">
          <div
            class="footer-nav d-block d-md-flex justify-content-between align-items-center"
          >
            <div class="footer-logo">
              <img src="/resources/images/logo.png" alt="logo" loading="lazy" />
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="/">home</a></li>
                <li><a href="/arena">arena</a></li>
                <li><a href="/games">games</a></li>
                <li><a href="/team">team</a></li>
                <li><a href="/career">careers</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/blog">blog</a></li>
              </ul>
            </div>
          </div>
          <hr class="footer-hr" />
          <div
            class="footer-content py-4 d-block d-md-flex justify-content-between align-items-center"
          >
            <div class="footer-copy">
              <li>&copy;Jambox 2022, All Rights Reserved</li>
              <a href="/rewards-terms-and-conditions">Rewards Terms and Conditions</a>
                <a href="/privacy-policy">Privacy Policy</a>
            </div>
            <div class="footer-social">
              <a target="_blank" href="https://facebook.com/jamboxgames/"><i class="bi bi-facebook"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/jamboxgames"><i class="bi bi-linkedin"></i></a>
              <a target="_blank" href="https://twitter.com/jamboxgames"><i class="bi bi-twitter"></i></a>
              <a target="_blank" href="https://www.instagram.com/jamboxgames/"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <!-- Footer Section HTML End -->