<div class="footer-angle"></div>
        <footer>
            <div class="container">
                <div class="footer-inner">
                    <div class="logo">
                        <a href="index">
                            <img src="/img/logo.svg" alt="Jambox Games">
                        </a>
                    </div>
                    <div>
                        <div class="s-r">
                            <a href="https://facebook.com/jamboxgames/">
                                <img src="/img/fb.png" target="_blank" alt="facebook">
                            </a>
                            <a href="about" class="mt-05">
                                <p>About</p>
                            </a>
                        </div>
 <!-- <div class="s-r">
                            <a href="#">
                                <img src="/img/insta.png" target="_blank" alt="Instagram">
                            </a>
                            <a href="blog" class="mt-05">
                                <p>Blog</p>
                            </a>
                        </div> -->
                        <div class="s-r">
                            <a href="https://twitter.com/jamboxgames" target="_blank">
                                <img src="/img/twitter.png" alt="twitter">
                            </a>
                            <a href="team" class="mt-05">
                                <p>Team</p>
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="https://www.linkedin.com/company/jamboxgames" target="_blank">
                                <img src="/img/ln.png" alt="Linkedin">
                            </a>
                            <a href="games" class="mt-05">
                                <p>Games</p>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="copyright t-c s-s c-g light mt-2">© Jambox Games 2021</p>
            </div>
        </footer>
    </div>