<div class="footer-angle"></div>
        <footer>
            <div class="container">
                <div class="footer-inner">
                    <div class="logo">
                        <a href="index">
                            <img src="/img/logo.svg" alt="Jambox Games">
                        </a>
                    </div>
                    <div>
                        <div class="s-r">
                            <a href="https://facebook.com/jamboxgames/">
                                <img src="/img/fb.png" target="_blank" alt="facebook">
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="https://www.instagram.com/jamboxgames/">
                                <img src="/img/insta.png" target="_blank" alt="Instagram">
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="https://twitter.com/jamboxgames" target="_blank">
                                <img src="/img/twitter.png" alt="twitter">
                            </a>
                        </div>
                        <div class="s-r">
                            <a href="https://www.linkedin.com/company/jamboxgames" target="_blank">
                                <img src="/img/ln.png" alt="Linkedin">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="/privacy-policy"><p class="copyright t-c s-s c-g light mt-2">© Jambox Games 2021</p></a>
            </div>
        </footer>
    </div>