        <div class="header-nav">
          <div class="container">
            <!-- Navigation Section Start -->
            <nav>
              <div class="logo">
                <a href="/"
                  ><img
                    src="/resources/images/logo.png"
                    alt="logo"
                    loading="lazy"
                /></a>
              </div>
              <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="menu">
                <ul>
                  <li><a href="/">home</a></li>
                <li><a href="/arena">arena</a></li>
                <li><a href="/games">games</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/team">team</a></li>
                <li><a href="/careers">careers</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/blog">blog</a></li>
                  <li><a class="login-btn" href="https://app.jambox.games/login">login</a></li>
                </ul>
              </div>
            </nav>
        <!-- Navigation Section End -->
          </div>
        </div>
