        <div class="sticky-btn">
            <a href="/publish">
                <button class="s-r stickyBtn">
                    <div class="text">Publish Your Game</div>
                    <img src="/img/stickyBtn.png" alt="Jambox Games - Publish Your Game">
                </button>
            </a>
        </div>