---
layout: layouts/base.njk
permalink: "careers/{{ myslug | slug }}/index.html"
og_image: og-career.jpg
---
<div class='breadcrumb'> <a href="/careers/"> < All Jobs</a></div>
<h1 class="blog-title">{{ title }}</h1>
<p> <strong>Team:</strong> {{team}}</p>
<p> <strong>Location:</strong> {{location}}</p>
<div class="post-content">
  <h3 class="">Company Profile</h3>
  <p>Jambox Games is a venture-backed Singapore &amp; India based Mobile Game Publishing Platform, on a mission to re-imagine and redefine how mobile game publishing is done today.</p>
  <p>The vision is to create the largest Free to Play, next-generation competitive game publishing platform in Asia. The company is a start-up and is looking to establish its presence in India and South East Asia. The founder and core team have deep experience in Game Publishing &amp; Adtech and have built and managed over $200mn business in their previous roles.</p>
  <p>You will work closely with the founding team, partner with Product and work with other engineers and developers to bring the platform vision to life.</p>

</div>

{{ content | safe }}

<div class="job-apply-block">
  <h3 class="">How to Apply</h3>
  <p>Send us your resume at <a class="bold" href="mailto:careers@jambox.games?subject={{title}} Application">careers@jambox.games</a> if you would like to join the rocketship</p>
</div>