---
permalink: "careers/{{ myslug | slug }}/index.html"
og_image: og-career.jpg
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}

    <!-- About CSS -->
    <link rel="stylesheet" href="/resources/css/job.css" />
    
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}

      </div>
    </header>


    <section id="jobDescription">
        <div class="jobContent">
            <a href="/careers"><img src="/resources/images/pngtree-vector-back-icon-png-image_931209.jpeg.sb-a107dac9-UphIjS" alt=""> Back To All Jobs</a>
        </div>

        <div class="jobTitle">
            <h1>{{ title }}
                <br>
                <br>
                <p><span style="font-weight: 600">Status:</span> <span style="text-transform:capitalize;">{{status}}</span></p>
                <p><span style="font-weight: 600">Team:</span> {{team}}</p>
                <p><span style="font-weight: 600">Location:</span> {{location}}</p>
            </h1>
        </div>

        <div class="companyProfile">
            <h1>Company Profile:</h1>
            <p>Jambox Games is a venture-backed South East Asia and India based Competitive Game Publishing Platform. The start-up is on a mission to re-imagine and redefine how Indie developers build engaging multiplayer games and publish these games globally.
<br><br>
                Our unique Async-Multiplay technology enables competitive multiplayer games and rewards for game developers through easy to integrate SDK.
<br><br>
                The vision is to create the largest Free to Play, next-generation competitive game publishing platform in Asia. The founder and core team have deep experience in Game Publishing & Adtech and have built and managed over $200mn business in their previous roles.
                
                </p>
        </div>
        <div class="companyProfile">
        {{ content | safe }}
        </div>
        {% if "open" in status %}    
            <div class="companyProfile whatYouWillBeDoing">
            <h1>How To Apply:</h1>
            <!-- <ul> -->
                <p>If you are a rockstar candidate and you have what it takes to win with Game developers, send us your resume at <a href="mailto:careers@jambox.games"> careers@jambox.games </a>if you would like to join the rocketship</p>
            <!-- </ul> -->
        </div>
{% endif %}
{% if "closed" in status %}    
<div class="companyProfile whatYouWillBeDoing">
            <h1>How To Apply:</h1>
            <!-- <ul> -->
                <p>This position is no longer open</p>
            <!-- </ul> -->
        </div>
{% endif %}

       
    </section>

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
