---
permalink: "{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%d' }}/{{ myslug | slug }}/index.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.njk' %}
    <!-- About CSS -->
    <link rel="stylesheet" href="/resources/css/blogPost.css" />
    
  </head>
  <body>
    <!-- Header Section HTML Start -->

    <header class="header">
      <div class="header-wrapper">
        {% include 'partials/nav.njk' %}
      </div>
    </header>

    <section id="title">
        <div class="title-content">
            <div class="titlecon">
                <div class="head">
         <h1 class="title-text">{{ title }}</h1>

        <div class="date">
            <i class="bi bi-calendar"></i>
            <p class="date-text">{{page.date | htmlDateString}}</p>
        </div>

<img src="/resources/images/{{cover}}" class="blog-img">
</div>

        <div id="blog-body">
            {{ content | safe }}
        </div>

    </div>

    </div>

    </section>

    {% include 'partials/footer.njk' %}

    <!-- Bootstrap JS -->
    <script src="/resources/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/resources/js/custom.js"></script>
  </body>
</html>
