---
layout: layouts/base.njk
permalink: "{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%d' }}/{{ myslug | slug }}/index.html"
---
<h1 class="blog-title fw-heavy">{{ title }}</h1>


<div class="bio-grid-container">
  <div class="pic">
  <a href="{{author_url}}"> 
    <img class="blog-author-pic" src="/img/{{author_pic}}" alt="{{author}}">
  </a>
  </div>
  <div class="name">
  <a href="{{author_url}}"> 
    <div class="blog-meta">{{author}}</div>
  </a>
  </div>
  <div class="title">
  <a href="{{author_url}}"> 
    <div class="blog-meta">{{author_title}}</div>
  </a>
  </div>
  <div class="blog-meta-date">
    {{page.date | htmlDateString}}
  </div>
</div>

<div class="line my-05 m-a"></div>
<div class="post-content">
  {{ content | safe }}
</div>
<div class="line bg-o m-a"></div>